# Importing Pandas

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

# Loading & Reading Dataset

In [16]:
df = pd.read_csv("data.csv")
print(df)

                date         price  bedrooms  bathrooms  sqft_living  \
0      5/2/2014 0:00  3.130000e+05       3.0       1.50       1340.0
1      5/2/2014 0:00  2.384000e+06       5.0       2.50       3650.0
2      5/2/2014 0:00  3.420000e+05       3.0       2.00       1930.0
3      5/2/2014 0:00  4.200000e+05       3.0       2.25       2000.0
4      5/2/2014 0:00  5.500000e+05       4.0       2.50       1940.0
...              ...           ...       ...        ...          ...
4595   7/9/2014 0:00  3.081667e+05       3.0       1.75       1510.0
4596   7/9/2014 0:00  5.343333e+05       3.0        NaN       1460.0
4597   7/9/2014 0:00  4.169042e+05       3.0        NaN       3010.0
4598  7/10/2014 0:00  2.034000e+05       4.0       2.00       2090.0
4599  7/10/2014 0:00  2.206000e+05       3.0       2.50       1490.0

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0       7912.0     1.5         0.0   0.0          3      1340.0
1       9050.0     2.0         0.0   4.0          5      3370.0
2      11947.0     1.0         0.0   0.0          4      1930.0
3       8030.0     1.0         0.0   0.0          4      1000.0
4      10500.0     1.0         0.0   0.0          4      1140.0
...        ...     ...         ...   ...        ...         ...
4595    6360.0     1.0         0.0   0.0          4      1510.0
4596    7573.0     2.0         0.0   0.0          3      1460.0
4597    7014.0     2.0         0.0   0.0          3      3010.0
4598    6630.0     1.0         0.0   0.0          3      1070.0
4599    8102.0     2.0         0.0   0.0          4      1490.0

      sqft_basement  yr_built  yr_renovated                    street  \
0               0.0    1955.0          2005      18810 Densmore Ave N
1             280.0    1921.0             0           709 W Blaine St
2               0.0    1966.0             0  26206-26214 143rd Ave SE
3            1000.0    1963.0             0           857 170th Pl NE
4             800.0    1976.0          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595            0.0    1954.0          1979            501 N 143rd St
4596            0.0    1983.0          2009          14855 SE 10th Pl
4597            0.0    2009.0             0          759 Ilwaco Pl NE
4598         1020.0    1974.0             0         5148 S Creston St
4599            0.0    1990.0             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

# Data Exploration

In [17]:
df.isnull().sum()

date             0
price            3
bedrooms         5
bathrooms        2
sqft_living      2
sqft_lot         2
floors           2
waterfront       5
view             2
condition        0
sqft_above       3
sqft_basement    3
yr_built         6
yr_renovated     0
street           3
city             4
statezip         3
country          6
dtype: int64

In [18]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.597000e+03,4595.000000,4598.000000,4598.000000,4.598000e+03,4598.000000,4595.000000,4598.000000,4600.000000,4597.000000,4597.000000,4594.000000,4600.000000
mean,5.521190e+05,3.401088,2.160668,2139.498913,1.485607e+04,1.511853,0.007182,0.240757,3.451739,1827.509463,312.122036,1970.799086,808.608261
std,5.639834e+05,0.908983,0.783920,963.387024,3.589177e+04,0.537905,0.084449,0.778558,0.677230,862.138540,464.228562,29.740666,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.238333e+05,3.000000,1.750000,1460.000000,5.001000e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.610000e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.550000e+05,4.000000,2.500000,2620.000000,1.100375e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [20]:

df.count()

date             4600
price            4597
bedrooms         4595
bathrooms        4598
sqft_living      4598
sqft_lot         4598
floors           4598
waterfront       4595
view             4598
condition        4600
sqft_above       4597
sqft_basement    4597
yr_built         4594
yr_renovated     4600
street           4597
city             4596
statezip         4597
country          4594
dtype: int64

In [21]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4,1930.0,0.0,1966.0,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4,1000.0,1000.0,1963.0,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4,1140.0,800.0,1976.0,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [22]:
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,7/9/2014 0:00,308166.6667,3.0,1.75,1510.0,6360.0,1.0,0.0,0.0,4,1510.0,0.0,1954.0,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,534333.3333,3.0,NaN,1460.0,7573.0,2.0,0.0,0.0,3,1460.0,0.0,1983.0,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,416904.1667,3.0,NaN,3010.0,7014.0,2.0,0.0,0.0,3,3010.0,0.0,2009.0,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,203400.0000,4.0,2.00,2090.0,6630.0,1.0,0.0,0.0,3,1070.0,1020.0,1974.0,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,220600.0000,3.0,2.50,1490.0,8102.0,2.0,0.0,0.0,4,1490.0,0.0,1990.0,0,18717 SE 258th St,Covington,WA 98042,USA

In [23]:
df.shape

(4600, 18)

In [24]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition          int64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [25]:
df['city'].unique()

array(['Shoreline', 'Seattle', 'Kent', 'Bellevue', 'Redmond',
       'Maple Valley', 'North Bend', 'Lake Forest Park', 'Sammamish',
       'Auburn', 'Des Moines', 'Bothell', 'Federal Way', 'Kirkland',
       'Issaquah', 'Woodinville', 'Normandy Park', 'Fall City', 'Renton',
       'Carnation', 'Snoqualmie', 'Duvall', 'Burien', 'Covington',
       'Inglewood-Finn Hill', 'Kenmore', 'Newcastle', 'Mercer Island',
       'Black Diamond', 'Ravensdale', 'Clyde Hill', 'Algona', 'Skykomish',
       'Tukwila', 'Vashon', 'Yarrow Point', 'SeaTac', 'Medina',
       'Enumclaw', 'Snoqualmie Pass', 'Pacific', 'Beaux Arts Village',
       'Preston', 'Milton', nan], dtype=object)

In [26]:
df.nunique()

date               70
price            1738
bedrooms           10
bathrooms          26
sqft_living       566
sqft_lot         3112
floors              6
waterfront          2
view                5
condition           5
sqft_above        511
sqft_basement     207
yr_built          115
yr_renovated       60
street           4522
city               44
statezip           77
country             1
dtype: int64

# Data Pre-Processing

In [27]:
df_processed = df.drop(['street', 'city', 'statezip', 'country'], axis=1)

In [28]:

df_processed.dropna(inplace=True)

In [29]:

df_processed['date'] = pd.to_datetime(df_processed['date'])
df_processed['year_built'] = df_processed['yr_built']
df_processed['year_renovated'] = df_processed['yr_renovated']
df_processed['date_year'] = df_processed['date'].dt.year
df_processed['date_month'] = df_processed['date'].dt.month
df_processed['date_day'] = df_processed['date'].dt.day

df_processed.drop(columns=['date'], axis=1, inplace=True)
df_processed['waterfront'] = df_processed['waterfront'].astype('category').cat.codes
df_processed['view'] = df_processed['view'].astype('category').cat.codes
df_processed['condition'] = df_processed['condition'].astype('category').cat.codes

In [30]:
X = df_processed.drop(['price'], axis=1)
y = df_processed['price']

train test split and SVM

In [31]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


svm_regressor = SVR(kernel='linear')
svm_regressor.fit(X_train_scaled, y_train)


y_pred = svm_regressor.predict(X_test_scaled)
print("Predictions:", y_pred)

Predictions: [477946.6311583  458325.02824692 461291.05231208 463605.87231113
 455336.81254439 463329.50081865 466658.36363455 460190.4162429
 461305.69985184 462580.41190884 459205.60634302 459202.17795081
 462316.72971075 489547.43248157 462230.66015052 469551.57667656
 456978.71135903 463707.99691022 475163.57143239 461023.28956659
 465973.11634378 465327.36735993 457689.64563943 461497.65671901
 468370.97714147 469844.68389474 457852.69465906 462322.58765002
 459719.4812847  456646.518577   466323.50393991 465601.88057522
 461500.65415807 462005.37264762 459001.46714484 471016.74151555
 463496.72039233 456927.32529085 457139.46087647 458039.28860854
 464656.80407614 459579.44600326 463400.81000363 469311.2706727
 462470.13116869 462020.12297619 467098.12135517 453817.52620793
 464827.25611298 463432.62496108 478826.41795002 454855.64178595
 459888.79744355 469315.51590054 458387.05593306 463951.4161078
 464030.84987283 463964.32040797 458348.14166735 474215.01836854
 467625.39870067 457463.52383658 461529.06829505 458038.91521598
 464457.65790026 460951.27661402 466223.2694431  454761.88232267
 470120.68495    459899.22184449 456548.29749569 459792.1655772
 460855.4085046  464484.1634062  456838.39081951 454461.30002661
 463157.60579816 456944.40767573 458940.57140554 456232.50781294
 458041.07609623 465795.83639698 482922.27326242 470586.07578105
 452905.35888966 463441.35190898 465402.22981877 453668.53127695
 459885.45392766 464298.80498697 455822.86913175 462454.33210907
 460090.29821524 466793.14293786 472329.75353035 460355.80801695
 461604.9712654  466236.15572674 466875.90384702 453515.83991916
 463025.34254538 467450.29463624 459654.49760443 455855.70311352
 460846.01469081 461183.84313586 456921.30451927 469148.80514424
 457074.73791791 455793.10516635 467959.02602437 466503.69856973
 460493.89994918 464086.10863765 488394.50952894 455493.2279912
 465244.51628703 455101.70774688 456546.7717723  464606.16004156
 469008.14511706 461725.69914496 464888.20817978 458531.83261263
 460059.29740574 457935.98374605 457415.64197627 459862.64184062
 462224.63290979 465069.61496105 466821.47922992 464988.11090463
 457152.14475517 465903.69715671 466096.31532794 450436.74759295
 462965.42002668 459281.50945826 464415.81551605 460831.1396032
 458375.88722377 465074.15612102 464367.39915115 463373.48687216
 456278.49001945 460722.32064288 453827.8719526  455940.51780713
 470352.27973793 464608.62988027 456498.42651502 458112.31969371
 464716.16941529 460520.61033875 458091.49201767 465018.95502627
 466579.97493573 466525.37685752 462995.01873148 459086.55044844
 459876.48311453 456016.69382299 457032.10269567 460923.86909612
 465718.32638279 478092.24943867 488086.61255632 462838.92620175
 467423.19781183 468676.25986912 469967.40203947 481258.4158473
 453972.88245423 459322.30808861 459339.28320829 459406.80707338
 484295.43643168 461940.46198481 471507.27983241 478506.96830757
 464415.3669593  464470.19745382 471933.42202221 459811.06530189
 459401.76847965 464343.25831426 462572.46875875 464278.50531497
 468486.25924502 458155.69334919 468091.1651375  457447.62920985
 463157.1306855  463677.15625408 457491.17720413 474547.81758721
 460162.57162589 455600.44281264 462519.10150115 453290.71184921
 452698.02516735 454595.01552948 455902.87073519 458222.82084185
 471116.22550469 469596.5091741  464973.75254057 462152.1437607
 468424.60508797 458393.16145853 459584.55790374 462114.77626335
 460687.62618584 465994.44497234 464352.89468184 457695.30323325
 461956.07011567 458605.57043456 457208.71886021 467305.06523342
 461435.35300219 459181.05306064 460851.40328376 457524.67156791
 458575.0614841  468685.10453671 459153.41271445 461832.88432225
 463123.04262431 465225.09975286 456275.59528105 459226.04545289
 466244.86223819 463368.21437224 462301.04112708 460083.58777698
 461596.60320787 461898.84441487 459052.4214057  462277.73908831
 476211.65127185 455335.44821575 460979.95057342 463768.64005112
 474949.99986274 456320.7629477  454592.88089847 459672.26803049
 456197.43520995 472796.71713631 460803.17551015 455355.89369733
 455582.65419727 459743.91901052 462448.48073997 458158.49178603
 454035.95762767 462742.69802473 465200.87839427 461418.5348244
 454262.92306345 453735.20938526 460836.01181828 462634.48932872
 457189.28195751 453631.97796198 456939.10064967 463459.59438598
 472577.57727211 456407.98041013 452311.78726481 458408.65764154
 462738.96364929 463609.83313222 456758.57092301 466166.49947095
 461742.28398075 463934.74668178 457014.28705451 468939.15656445
 470432.5843245  465254.77564459 464094.90104966 473759.45118361
 456700.27455917 463422.90644125 459942.25820247 467290.42732482
 525471.35255625 462013.36012311 461544.7539398  461997.03705469
 465576.04965663 471338.56856703 463952.16767795 464199.19888818
 459517.02334196 467808.85021697 466476.8905102  463674.72829715
 451683.69411449 460674.36188725 475672.37935306 453811.19864875
 458564.38057932 454429.32091229 460542.86352882 466504.18196917
 458955.89426824 464524.49308718 458887.63816919 460085.67485947
 467889.30018331 461419.43108025 459047.82295979 459953.56889264
 461903.07680506 450121.72632903 469161.16161677 460193.44998466
 474668.54339962 458771.66277004 453884.60042707 467095.93724311
 452353.0463392  461018.63143771 460851.19200863 461319.06144899
 457897.58071707 469278.51248698 463465.13785436 456661.65969374
 456297.90560164 454636.71921641 466963.44708092 458723.09245359
 453774.99103491 455828.14135536 466285.80136841 453790.44391095
 465585.35776624 478604.53527249 460085.36992657 460314.96203827
 454002.6608283  456262.2474044  468208.96449981 454005.83311455
 461929.83357137 464082.89820363 465124.77483524 462367.7508238
 459972.74734596 458059.73349185 462513.03384675 454591.03210641
 455122.56758242 461209.78293139 462015.29649957 459477.79292325
 452072.46550297 474630.50590694 456105.04076017 457708.86536095
 463344.97707448 457248.50937934 458760.36541531 460706.7820298
 456486.71089861 459903.0160491  458671.61707048 475664.63023658
 473672.0149951  460525.44213133 463818.03042105 464828.54667698
 454777.29226838 467914.04903004 466266.91459286 461815.65872871
 455739.07889573 466029.11092307 466746.96995575 454655.58618548
 462691.09460877 476716.6292592  465375.98748696 465653.40890588
 463673.25280831 454303.15588578 453928.66246982 457236.99949957
 471549.81230751 467925.45756882 457747.24480122 458390.69671202
 458281.22015899 467088.58368494 464929.67121013 464700.32496427
 460682.69557863 459234.33482179 455672.87080093 462624.69718993
 455141.23356801 461195.92650262 464418.54451899 450906.83910742
 462551.24909394 466268.87048151 465767.35137736 460260.39887782
 459053.47859525 471726.08496193 454475.24010672 452572.16329021
 467092.70701647 466923.89364637 471097.24233734 472541.3393162
 466814.26037845 466343.50849299 452647.99756696 470291.63385211
 460213.24193192 460203.09172945 461349.39482736 459007.8121249
 453751.96821741 459758.09605146 462749.05092892 464937.47327185
 467129.15687975 462093.741294   458042.45920388 451700.22366385
 464812.01607317 452826.59164288 452711.5048149  465192.71661627
 457790.59801855 462173.44571902 467229.19504043 462564.48281288
 464016.4661798  456716.80039979 471295.80953847 459369.38851694
 459912.70762827 462550.24477184 454687.2440841  462159.46522111
 470533.30925956 454535.75037314 467243.10721697 466923.9528239
 455962.11599555 462904.89595719 460206.18032154 463008.67130237
 461611.44576886 456986.00140953 468869.58466006 455905.11303228
 466491.86767226 463919.95668686 455035.82636328 467235.50856109
 466912.35907222 456296.54719591 463107.62123677 459874.12350592
 452309.98773786 450434.09008103 466953.24977513 465279.99962319
 461132.87766443 457003.47414968 464499.2459914  468533.87384022
 462171.4776846  455525.89805175 467902.54966318 465645.94075934
 477974.77325912 464783.68944195 467569.882563   459155.14779491
 465201.79277168 457260.94016992 461389.26335089 462245.31044287
 465989.79418186 461188.68171015 458781.76834481 468886.71877519
 461980.64368803 467476.0696225  460932.06859478 464810.95978621
 459816.48615681 451550.59149233 465552.35898481 454524.54705734
 454804.09754898 453374.13915476 469044.43002867 480118.72854946
 468378.10553015 466903.62850557 458333.9315136  464944.82925579
 464915.84314589 469023.88476379 467908.72240141 458178.00442089
 462294.60046633 468297.10661006 470300.97195603 462443.71115157
 458698.53977396 466072.17130681 468970.6383089  468190.14624339
 468950.95340784 466376.43846412 451582.56114093 474990.0354763
 463894.3251395  466347.99951743 456731.37196612 455997.89501579
 455210.8945463  455965.91323527 452405.36687703 460554.18933648
 462909.82484627 455025.6688445  453822.29900527 455671.94240128
 453538.24921787 454599.80082755 457121.01305931 463278.10421838
 463027.15135066 463965.68398861 457718.70046403 465830.33340435
 458768.32886139 457268.99018262 459445.37651672 460894.14977197
 461003.13160522 472336.85724382 453369.2048417  462769.25139897
 459794.54788909 462253.48396901 467762.84926328 467632.87516294
 463501.69053889 464541.49384544 465386.6738683  459974.46522257
 470751.56608705 464190.77216015 464162.71598222 460708.35950327
 464554.04284765 464024.8255344  459842.66459393 455559.29054885
 463990.22778151 455116.42835215 457979.05332562 461419.77336164
 466438.4116386  461952.612994   469026.29326513 464954.94488475
 465853.09129201 464711.6233576  463924.13203195 464128.74814001
 454989.52159642 459829.19458502 476692.77018431 456841.72650458
 457931.01571893 464173.98591348 464819.10693201 459764.88244781
 464514.38877245 462288.61016421 475816.44281925 467903.37907039
 464863.58361686 456394.59447734 455990.79261305 481680.71650871
 458241.73551061 460138.58131571 461510.43389231 453766.85880238
 453990.80060821 470505.7314122  459791.93495767 466343.49612846
 461896.83474666 464611.2465018  462737.93143393 454216.12121406
 460932.71604449 464322.5231111  472497.45496127 454469.48547972
 463124.86437831 464916.30614495 476450.77211837 455285.09414675
 466945.65837246 457106.5145798  455292.54861923 464445.04481413
 453848.11511025 464678.88821524 462128.70869347 453039.95368991
 464817.70757202 457619.55807467 467320.87843839 463815.10208461
 459149.57839464 457294.6844203  463910.0792303  464781.21636671
 467365.41355933 473395.13580889 466848.45310447 473342.71395631
 456767.03974047 457455.02411955 463253.06672723 463265.21479907
 465573.11934171 460702.14133738 462116.50981116 457242.66608967
 463595.36213443 472003.67736997 464082.70630607 457550.32523123
 458959.3079113  456155.32057509 471924.57643604 457591.59076271
 473296.79404586 463346.87637953 455284.12179636 453759.30438866
 465755.95463626 464768.47716975 464863.01730194 452249.89275025
 462548.11190071 457368.46361089 458631.73067474 456754.71725026
 465621.03982767 464024.37284728 474239.10861105 458408.37420656
 461581.84510773 463182.74485649 460904.7787639  477451.4664227
 468888.40336198 462792.75607025 464735.82319275 463196.24401624
 461370.2672104  462125.58479027 465894.08260762 464394.81733756
 459020.91430473 454833.53098436 469426.97471938 470609.09199315
 461899.01738088 459654.53249039 479007.50591743 457183.64904645
 465079.23156743 469784.11003897 453847.93453639 465669.18032533
 451851.46472878 461654.50718528 461049.28989879 456415.67346169
 470755.36160355 467970.35723895 457651.90478114 455633.45381672
 470641.63630155 457418.90753483 480114.06356966 467016.53257871
 452706.57675896 455038.70349834 465841.17091588 470960.36767373
 466672.09787557 463039.2397435  471015.77420521 458570.79487282
 458696.60518117 462050.59772719 467864.23620843 467112.59463337
 460614.31357997 469291.71060499 460994.03440442 463443.38893816
 460082.79590401 463727.41668445 466915.54290267 471787.71289878
 461764.84177051 459107.17324658 461605.49741956 482473.09480719
 463872.50623775 453698.28337547 461747.10029496 458101.67797038
 463811.40853541 461645.30338061 460699.90393425 463377.15320414
 454549.98073508 467540.61729559 468552.86616033 457871.4832893
 463414.33200408 452971.12147677 468627.15003389 459037.51353516
 458967.31077874 459003.1566068  459657.65543041 463254.23023326
 465637.11920515 467865.43471635 461755.7047323  469463.78309394
 456357.57587113 456195.65646941 459340.73011542 452241.78761259
 463931.68393486 457187.35654324 458746.8158787  459251.95497768
 471981.92053972 463995.97469958 467759.61228361 456896.73821365
 460259.96903987 455603.96517625 464034.25353617 465143.41292923
 458304.03642766 452593.93421574 459453.28400312 462139.31101732
 459724.74514446 461865.35423132 458747.93945298 455571.79383373
 467416.04534422 463181.38078897 457259.45427559 465185.48046096
 458979.12280008 461241.19281565 457044.47994192 464337.41542597
 463043.16400791 470405.52658656 470390.51037041 466293.68067745
 466971.81457297 459526.45945246 462656.40237875 452953.86714115
 457928.50575161 461687.87353558 469224.68455935 472382.23127666
 458724.08414103 457822.94233453 462240.69996501 461472.83217798
 458633.02629636 480834.71325377 465594.03193363 454205.50966541
 454421.37267684 455499.94840764 458742.00470844 466803.70337789
 472748.82660459 456235.07167538 465115.714038   455535.57671178
 463893.30687151 474874.43733979 467961.32705921 465238.14001436
 460000.42049007 464324.02717729 458798.00159672 475742.9600714
 466382.11690688 463111.50576585 464384.90758737 454112.28851535
 465103.95234667 458075.95867487 464245.66236419 467208.99749732
 456349.00495731 463961.31613565 462986.79149659 452444.1044046
 464968.01442236 465325.8684691  462274.98067771 476181.04972852
 459070.96366929 463781.27575082 456214.29704641 455448.15853176
 463461.59823201 466572.00869084 456899.95404103 459367.42521612
 467167.50177444 458335.38812255 454632.61541037 473320.45054293
 464209.48877761 465367.09623038 468865.1304462  459884.54599659
 466838.20985298 459865.4784511  462070.73187005 451937.76424993
 451905.59360701 471273.10445484 460894.70566144 466118.84951414
 458080.29050853 461819.86922547 461788.66755122 469826.6753544
 460958.55007936 462313.29068054 464851.89101434 461233.37602715
 453169.96971739 461384.74482727 460963.48260183 458931.46761837
 459399.97984479 466603.78875528 460487.64167528 465312.30013682
 467380.31767095 462113.41825402 460736.23235923 466766.53904511
 467358.71682608 463454.65935794 459909.09026969 460839.73619622
 459960.45223098 460709.30494068 457595.30154506 451766.87223827
 460210.43577403 462387.667585   453320.28791287 458788.61225379
 460292.19815777 460696.99392569 475453.72056684 461798.083704
 477773.32161823 459695.02537109 463090.6642335  467289.34406925
 477531.69631349 465631.06994463 472696.28230947 455453.2794237
 457833.57535347 464930.12428102 451925.67232709 470499.17573835
 456168.98913737 461363.08335743 469088.0662553  462398.29341639]